{% extends 'base.html.twig' %}
{% block body %}
        <main class="container mt-5" >
            <h3 class="mb-5">Gattino</h3>
            <div class="d-flex flex-wrap" >
                {% for item in productPageArray %}
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 ">{{ item.name }}</h4>
                    </div>
                    <div class="card-body">
{#                        <img :src="`images/Andrea.jpg`" class="img-thumbnail">#}
                        <img src="/images/{{ item.name }}.jpg" class="img-thumbnail">
                        <ul class="fontMedium list-unstyled mt-3 mb-4">
                            <li>Breed     -  {{ item.breed }}</li>
                            <li>Age       - {{ item.age }} month</li>
                            <li>Character - {{ item.character_cat}} </li>
                            <li>Soldi     - {{ item.soldi }}</li>
                        </ul>
                        <div class="centerQ">
                            <a class="btn btn-primary" :href="`/product/{{ item.id }}`">Detail</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </main>
{% endblock %}